<style>
    .chat-text-mail {
        color: blue;
        font-weight: bold;
    }

    .chat-text-hora {
        color: brown;
    }

    .chat-text-msg {
        color: green;
        font-style: italic;
    }
</style>
{{#if post.length}}
{{#each post}}
<p>
    <span class="post-mail"> {{this.mail}} </span>
    <span class="post-alias"> {{this.aias}} </span>
    <span class="post-text"> {{this.text}} </span>
</p>
{{/each}}
<hr>
{{ else }}
<h3 class="alert alert-warning">Sin mensajes</h3>
{{/if}}